.chart-container {
  width: 38%;
  margin: 2%;
  margin-left: 0;
  float: right;
}

.chart {
  width: 100%;
}

.ant-radio-button-wrapper:last-child {
  display: none;
}

@media only screen and (max-width: 426px) {
  .chart-container {
    width: 92%;
    margin: 4%;
  }
  .chart {
    width: 100%;
  }
}
