.stocks-container {
  width: 56%;
  float: left;
  margin: 2%;
}

li {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.stock-price-item {
  margin: auto;
}

.stock-remove-button {
  text-align: right;
}

.stock-remove-icon {
  color: red;
  font-size: 0.9vw;
}

.calender-stock-price {
  width: 83%;
  height: 26px;
  font-size: 1.2vw;
  text-align: center;
  vertical-align: middle;
}

.add-stock-modal {
  text-align: center;
}

.stock-price-input {
  width: 30%;
  font-size: 1.2vw;
}
.add-stock-list-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1vw;
}

.add-stock-button {
  color: rgb(8, 187, 2);
  /* padding: 0 6px; */
}

@media only screen and (max-width: 1024px) {
  .add-stock-button span {
    display: none;
  }
  .add-stock-button::after {
    content: "+";
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  .stock-remove-icon {
    font-size: 3vw;
  }

  .calender-stock-price {
    width: 100%;
    height: 26px;
    font-size: 3vw;
  }
  .ant-fullcalendar-date {
    padding: 0;
  }
  .add-stock-button span {
    display: none;
  }
  .add-stock-button::after {
    content: "+";
    text-align: center;
  }
  .stocks-container {
    width: 92%;
    margin: 4%;
    margin-bottom: 0;
  }
}
